<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="~/css/Card.css" type="text/css" />
    <link rel="stylesheet" href="~/css/Button.css" type="text/css" />

</head>

<body>
    <div class="e-card playing">
        <div class="image"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="infotop">
            <br>
            <h1 class= "open-sans">Good Communication
                <br>Ends a lot of Bad Things.
            </h1>
            <br>
            <div class="name">
                <br>
                <button class="button-register" style="margin: auto;"
                    onclick="location.href='@Url.Action("Register", "User")'">
                    <p class="button-text">Let's Get Started</p> <span class="arrow"></span>
                </button>

            </div>
        </div>
    </div>
</body>

</html>
